<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <div class="heading">
        <h2> Welcome to the NOVA Book and Wine Club!</h2>
        <%= image_tag "logo_md.png" %>
      </div>
      <div class="home-links">
        <%= render get_links_for_user_type %>
      </div>
    </div>
  </div>
</div>
