<div class="welcome-page">
<div class="container main-content">
<div class="row">
  <div class="col-md-12" >
      <div class="welcome-message">
        <h1> Northern Virginia Book and Wine Club</h1>
      </div>
      <div class="home-links">
        <%= render get_links_for_user_type %>
      </div>
  </div>
</div>
</div>
</div>