<div class="row" >
  <div class="col-md-4 col-md-offset-4 content">
    <div class="heading">
      <h1><%= @book.title %></h1>
      <h2>by <%= get_author_full_name(@book) %></h2>
    </div>
  </div>
</div>
<%= render get_view_for_user_type %>