<div class="row" >
  <div class="col-md-4 col-md-offset-4 content">
    <div class="heading">
      <h1><%= @book.title %></h1>
      <h2>by <%= @book.author_first_name+" "+@book.author_last_name %></h2>
    </div>
  </div>
</div>
<% if current_user%>
  <%= render 'registered_user' %>
<% else %>
  <%= render 'unregistered_user' %>
<% end %>